<div class="row mt-4">

    <div class="container-fluied col-sm-12" id="render-body">
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-2 col-lg-3 col-6">
                <div class="info-box d-flex justify-content-start shadow py-2 ">
                    <span class="info-box-icon custom-info-box-icon px-2 py-1" style="background-color: #5090C1;
color: #fff; font-size: 22px;"><i class="fas fa-newspaper"></i></span>
                    <div class="info-box-content px-4">
                        <span class="info-box-number"><a href="#" style="font-size: 20px;">Announcements</a></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3  col-6">
                <div class="info-box d-flex justify-content-start shadow py-2 ">
                    <span class="info-box-icon custom-info-box-icon px-2 py-1" style="background-color: #f39c12!important;
color: #fff; font-size: 22px;"><i class="fa fa-graduation-cap"></i></span>
                    <div class="info-box-content px-4">
                        <span class="info-box-number"><a href="#" style="font-size: 20px;">Live
                                Training</a></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3  col-6">
                <div class="info-box d-flex justify-content-start shadow py-2 ">
                    <span class="info-box-icon custom-info-box-icon px-2 py-1" style="background-color: #f39c12!important;
color: #fff; font-size: 22px;"><i class="fa fa-play"></i></span>
                    <div class="info-box-content px-4">
                        <span class="info-box-number"><a href="#" style="font-size: 20px;">Training
                                Videos</a></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3  col-6">
                <div class="info-box d-flex justify-content-start shadow py-2 ">
                    <span class="info-box-icon custom-info-box-icon px-2 py-1" style="background-color: #5090C1;
color: #fff; font-size: 22px;"><i class="fa fa-key"></i></span>
                    <div class="info-box-content px-4">
                        <span class="info-box-number"><a href="#" style="font-size: 20px;">Add
                                Features</a></span>
                    </div>
                </div>
            </div>


        </div>




        <div class="row mt-2">
            <div class="col-md-6" >
                <div class="accordion" id="accordionRAP" >
                    <div class="accordion-item" style="border: 1px solid #5090C1;" >
                        <h2 class="accordion-header">
                            <button class="w-100 border-0" style="background-color: #5090C1; color: #fff;"
                                type="button">
                               <span style="font-size: 1.5rem;">RAP Due</span> 
                            </button>
                        </h2>
                        <div id="collapseOneRAP" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionRAP">
                            <div class="accordion-body">
                                <i style="font-size: small;"><i class="ace-icon fa fa-info-circle blue"></i>
                                This widget will display all billable RAP claims. Claims older than 30 days would be
                                rejected and so are not displayed in this view.</i>
                                <hr>
                                <div class="container-fluid mt-4">
                                    <div class="row" style="overflow-x: scroll;">
                                        <div class="col-md-6 col-12 mt-3">
                                          <div class="form-inline mb-3" style="display: flex;">
                                            <label for="search" class="me-2">Search:</label>
                                    
                                            <input type="text"  class="form-control mr-2  form-control-sm"
                                              id="search" placeholder="Search">
                                           
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                          <div class="form-inline mb-3 float-md-end mt-2" style="display: flex; ">
                                            <label for="entries" class="me-2" style="font-size: small;">Show</label>
                                            <select class="form-select" aria-label="Default select example" style="height: 35px; font-size: small;">
                                              <option selected style="font-size: small;">10</option>
                                              <option value="1" style="font-size: small;">25</option>
                                              <option value="2" style="font-size: small;">50</option>
                                              <option value="3" style="font-size: small;">100</option>
                                            </select>
                                            
                                            <label for="entries fw-bold" class="mx-2" style="font-size: small;">entries</label>
                                          </div>
                                        </div>
                                      
                                      <div class="">
                                        <table class="table table-bordered table-hover table-striped ">
                                          <thead class="" style="font-size: 13px; text-wrap: nowrap; ">
                                            <tr>
                                              <th style="color: #4F99C6;">Patient Name</th>
                                              <th style="color: #4F99C6;">Pan #</th>
                                              <th style="color: #4F99C6;">Admit Date</th>
                                              <th style="color: #4F99C6;">Discharge Date</th>
                                              <th style="color: #4F99C6;">DOB</th>
                                              <th style="color: #4F99C6;">Office Name</th>
                                              
                                    
                                            </tr>
                                            
                                          </thead>
                                    
                                          <tbody style="text-wrap: nowrap;" class="">
                                            <tr>
                                                <td colspan="7" class="text-center" style="font-size: small;">No data available in table
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="row mt-3">
                                    
                                        <div class="col-sm-12 col-md-6 d-flex justify-content-start mt-2" style="font-size: small;">
                                          <p>Showing 1 to 2 of 2 entries</p>
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-flex justify-content-end" style="font-size: small;">
                                          <ul class="pagination gap-2  " style="font-size: small;">
                                            <li class="page-item"><a class="page-link">First</a></li>
                                            <li class="page-item"><a class="page-link">Previous</a></li>
                                            <li class="page-item"><a class="page-link">Next</a></li>
                                            <li class="page-item"><a class="page-link">Last</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="" id="">
                    <div class="accordion-item" style="border: 1px solid #5090C1;">
                        <h2 class="accordion-header" >
                            <button class="border-0 w-100" type="button"
                                style="background-color: #5090C1; color: #fff;">
                                <span style="font-size: 1.5rem;">NOA Due </span>
                            </button>
                        </h2>
                        <div id="collapseTwoNOA" class="">
                            <div class="accordion-body mt-3"><i style="font-size: small;"><i class="ace-icon fa fa-info-circle blue"></i>
                                This widget will display all pending Notices of Admission. EOE submitted without
                                notice of admission will be rejected.
                                Notice of Admission is required for any claim period to be billed, and will remain
                                visible until NOA is created.</i>
                                <hr>
                                <div class="container-fluid mt-4">
                                    <div class="row" style="overflow-x: scroll;">
                                        <div class="col-md-6 col-12 mt-3">
                                          <div class="form-inline mb-3" style="display: flex;">
                                            <label for="search" class="me-2">Search:</label>
                                    
                                            <input type="text"  class="form-control mr-2  form-control-sm"
                                              id="search" placeholder="Search">
                                           
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                          <div class="form-inline mb-3 float-md-end mt-2" style="display: flex; ">
                                            <label for="entries" class="me-2" style="font-size: small;">Show</label>
                                            <select class="form-select" aria-label="Default select example" style="height: 35px; font-size: small;">
                                              <option selected style="font-size: small;">10</option>
                                              <option value="1" style="font-size: small;">25</option>
                                              <option value="2" style="font-size: small;">50</option>
                                              <option value="3" style="font-size: small;">100</option>
                                            </select>
                                            
                                            <label for="entries fw-bold" class="mx-2" style="font-size: small;">entries</label>
                                          </div>
                                        </div>
                                      
                                      <div class="">
                                        <table class="table table-bordered table-hover table-striped ">
                                          <thead class="" style="font-size: 13px; text-wrap: nowrap; ">
                                            <tr>
                                              <th style="color: #4F99C6;">Patient Name</th>
                                              <th style="color: #4F99C6;">Pan #</th>
                                              <th style="color: #4F99C6;">Admit Date</th>
                                              <th style="color: #4F99C6;">Discharge Date</th>
                                              <th style="color: #4F99C6;">DOB</th>
                                              <th style="color: #4F99C6;">Office Name</th>
                                              
                                    
                                            </tr>
                                            
                                          </thead>
                                    
                                          <tbody style="text-wrap: nowrap;" class="">
                                            <tr>
                                                <td colspan="7" class="text-center" style="font-size: small;">No data available in table
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="row mt-3">
                                    
                                        <div class="col-sm-12 col-md-6 d-flex justify-content-start mt-2" style="font-size: small;">
                                          <p>Showing 1 to 2 of 2 entries</p>
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-flex justify-content-end" style="font-size: small;">
                                          <ul class="pagination gap-2  " style="font-size: small;">
                                            <li class="page-item"><a class="page-link">First</a></li>
                                            <li class="page-item"><a class="page-link">Previous</a></li>
                                            <li class="page-item"><a class="page-link">Next</a></li>
                                            <li class="page-item"><a class="page-link">Last</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>