<nav class="navbar navbar-expand-sm p-0 fixed-top" style="background-color: #e7eaea;">
    <div class="container-fluid">
        <div class="unique-logo-section">
            <button class="navbar-toggler mt-3 border-0 text-light" style="background-color: #5090bf;" type="button"
                (click)="toggleSidebar2()">
                <i class="fa-sharp fa-light fa-bars"></i>
                
            </button>
            <a  > <img src="https://i.ibb.co/JFsnF04/5-6-1-1-removebg-preview.png" style="width: 150px;"
                    class="card-img-top" alt="..."></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav navbarul">
                <li class="nav-item" style="border-right: 1px solid gray;">
                    <a class="nav-link"  >Hii, {{homecarename}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="logouts()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="unique-sidebar col-sm-3 mt-5 p-3" id="sidebar">

        <div class="unique-search-section">

        </div>
        <ul class="nav flex-column unique-nav mt-2">
            <li class="nav-item">
                <a class="nav-link unique-nav-link">
                    <i class="fa-sharp fa-solid fa-magnifying-glass unique-icon"></i>
                    <input type="text" class="form-control unique-search-input unique-nav-text"
                        placeholder="Menu Search...">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link unique-nav-link" (click)="toggleSidebar2()">
                    <i class="fas fa-arrow-left unique-icon"></i>
                    <span class="unique-nav-text">Collapse</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Admin/admin_home" class="nav-link unique-nav-link">
                    <i class="fas fa-home unique-icon"></i>
                    <span class="unique-nav-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Admin/admin_dashboard" class="nav-link unique-nav-link">
                    <i class="fas fa-tachometer-alt unique-icon"></i>
                    <span class="unique-nav-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link unique-nav-link">
                    <i class="fas fa-tachometer-alt unique-icon"></i>
                    <span class="unique-nav-text">Billing Dashboard</span>
                </a>
            </li>

           

           
            <li class="nav-item">
                <a routerLink="/Admin/view_patients" class="nav-link unique-nav-link">
               
                    <i class="fas fa-solid fa-users unique-icon"></i>
                    <span class="unique-nav-text">Patients</span>
                </a>
            </li>

            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#covid"
                        role="button" aria-expanded="false" aria-controls="covid">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Covid 19 Screening</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="covid" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/patient_covid_screening" class="nav-link unique-nav-link">
                                    Patient Screening
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/staff_covid_screening" class="nav-link unique-nav-link">
                                    Staff Screening
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
            </div>
            <li class="nav-item">
                <a routerLink="/Admin/View_alot" class="nav-link unique-nav-link">
                    <i class="fas fa-solid fa-calendar-check unique-icon"></i>
                    <span class="unique-nav-text">Scheduling</span>
                </a>
            </li>
            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#clinic"
                        role="button" aria-expanded="false" aria-controls="clinic">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Clinical</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="clinic" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/skilled_nursing" class="nav-link unique-nav-link">
                                    Skilled Nursing Visit Notes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/assessments" class="nav-link unique-nav-link">
                                    Assesments
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/certificationPlan" class="nav-link unique-nav-link">
                                    485 - Certification and Plan of Care
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/plan_of_care" class="nav-link unique-nav-link">
                                    Plan of Care Plus
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/orders_and_docs" class="nav-link unique-nav-link">
                                    Order & Documents
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/Admin/order_plus" class="nav-link unique-nav-link">
                                    Order Plus 
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/Admin/medication_profile" class="nav-link unique-nav-link">
                                    Medication Profile
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/Admin/medication_administration" class="nav-link unique-nav-link">
                                    Medication Adminstration Log
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/Admin/physical_therapy" class="nav-link unique-nav-link">
                                    Physical Therapy Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/occupational_therapy" class="nav-link unique-nav-link">
                                    Occupational Therapy Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/speech_therapy" class="nav-link unique-nav-link">
                                    Speech Therapy Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/medical_social_worker" class="nav-link unique-nav-link">
                                    Medical Social Worker Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/aide_documents" class="nav-link unique-nav-link">
                                    Aide Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/non_skilled_assessments" class="nav-link unique-nav-link">
                                    Non Skilled Assessment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/electronic_health_record" class="nav-link unique-nav-link">
                                    Electronic Health Records
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/braden_scale" class="nav-link unique-nav-link">
                                    Braden Scale
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/supervisory_visit_notes" class="nav-link unique-nav-link">
                                    Supervisory Visit Notes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/incident_report" class="nav-link unique-nav-link">
                                    Incident Report
                                </a>
                            </li>

                           
                        </ul>
                    </div>
                </li>
            </div>
            <li class="nav-item">
                <a  class="nav-link unique-nav-link">
                    <i class="fas fa-solid fa-calendar-check unique-icon"></i>
                    <span class="unique-nav-text">Home Health Mail</span>
                </a>
            </li>
            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#billing"
                        role="button" aria-expanded="false" aria-controls="billing">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Billing</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="billing" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/claim_summary" class="nav-link unique-nav-link">
                                    Claim Summary
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/generate_claims" class="nav-link unique-nav-link">
                                    Generate Claims
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/claims_PDGM" class="nav-link unique-nav-link">
                                    Generate Claims PDGM
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/electronic_claim_file" class="nav-link unique-nav-link">
                                    Electronic Claim File
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/generate_invoices" class="nav-link unique-nav-link">
                                    Generate Invoices
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/invoice_summary" class="nav-link unique-nav-link">
                                    Invoice Summary
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/batch_print_invoices" class="nav-link unique-nav-link">
                                    Batch Print Invoices
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/batch_print_claims" class="nav-link unique-nav-link">
                                    Batch Print Of Claims
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/pre_billing" class="nav-link unique-nav-link">
                                    Pre Billing QA
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </div>
            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#AR"
                        role="button" aria-expanded="false" aria-controls="AR">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">AR</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="AR" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/transaction_log" class="nav-link unique-nav-link">
                                    Transaction Log
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/post_payment" class="nav-link unique-nav-link">
                                    Post Payment
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
            </div>
            <li class="nav-item">
                <a routerLink="/Admin/view_nurses" class="nav-link unique-nav-link">
                    <i class="fa-solid fa-house-medical-circle-check unique-icon"></i>
                    <span class="unique-nav-text">Care Givers</span>
                </a>
            </li>
          
            <li class="nav-item">
                <a routerLink="/Admin/clock_status" class="nav-link unique-nav-link">
                    <i class="fas fa-solid fa-clock-rotate-left unique-icon"></i>
                    <span class="unique-nav-text">Clock Status</span>
                </a>
            </li>

          

            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#adminMenu"
                        role="button" aria-expanded="false" aria-controls="adminMenu">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Admin</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="adminMenu" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/customize" class="nav-link unique-nav-link">
                                    Customize
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/user_security" class="nav-link unique-nav-link">
                                    User / security manager
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/feature_activation" class="nav-link unique-nav-link">
                                    Features Activation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/account_invoices" class="nav-link unique-nav-link">
                                    Account & Invoices
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </div>

            

            
            <div class="accordion" id="adminAccor">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#careConnect"
                        role="button" aria-expanded="false" aria-controls="careConnect">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Care Connect/Evv</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="careConnect" data-bs-parent="#adminAccor">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/monitor" class="nav-link unique-nav-link">
                                    Monitor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/conflicts" class="nav-link unique-nav-link">
                                    Conflicts
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
            </div>

            <!-- hepl manu -->
            <div class="accordion" id="helpAccordion">
                <li class="nav-item">
                    <a class="nav-link unique-nav-link collapsed" data-bs-toggle="collapse" href="#adminMenu1"
                        role="button" aria-expanded="false" aria-controls="adminMenu1">
                        <i class="fa-solid fa-circle-question unique-icon"></i>
                        <span class="unique-nav-text">Help</span>
                        <i class="fas fa-chevron-down unique-chevron"></i>
                    </a>
                    <div class="collapse unique-submenu" id="adminMenu1" data-bs-parent="#helpAccordion">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a routerLink="/Admin/for_new_home_care" class="nav-link unique-nav-link">
                                    For New Home Care Agency
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Admin/faq" class="nav-link unique-nav-link">
                                    Faq
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </div>

            <li class="nav-item">
                <a (click)="logouts()" class="nav-link unique-nav-link">
                    <i class="fas fa-right-from-bracket unique-icon"></i>
                    <span class="unique-nav-text">LogOut</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="col-lg-9 col-md-9 mt-5">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="d-flex justify-content-between pt-3 mb-2 pb-2" style="border-top: 3px double #E5E5E5;">
    <div>© 2024 All Family Homecare Systems, LLC.</div>
    <div>Version: 8.57.4.14</div>
</div>